:root {
  /* Primary */
  --Primary_1: #1d1d1d;
  --Primary_2: #363636;
  --Primary_3: #989898;
  --Primary_4: #dedede;
  --Primary_5: #ffffff;
  /* Secondary */
  --Secondary_1: #38103c;
  --Secondary_2: #491749;
  --Secondary_3: #62135a;
  --Secondary_4: #7a136e;
  --Secondary_5: #970a82;
  --Secondary_Hover: #970a822e;
  /* Tertiary */
  --Tertiary_1: #fcfa55;
  --Tertiary_2: #e41e0c;
  --Tertiary_3: #f29d3b;
  --Tertiary_4: #5dbb43;
  --Tertiary_5: #1775cf;
}
